<h3></h3>
<h3 style="text-align: center;">Shopping Cart</h3>

<table class="table" border="1" style="text-align: center;">
    <thead>
      <tr >
        <th scope="col" style="width: 4%;">#</th>
        <th scope="col" style="width: 10%;">image</th>
        <th scope="col" style="width: 30%;">title</th>
        <th scope="col" style="width: 20%;">price</th>
        <th scope="col" style="width: 20%;">quantity</th>
        <th scope="col" style="width: 16%;">total</th>
      </tr>
    </thead>
    <tbody>
        
        <tr style="text-align: right;">
            <td colspan="6"><button class="btn btn-primary">Checkout</button></td>
        </tr>
    </tbody>
  </table>


