<div style="padding: 30px;">
    <mat-grid-list cols="3">
        <mat-grid-tile style="background: darkgray;">
            product image
        </mat-grid-tile>
        <mat-grid-tile >
            <h3>Product Title <br>Price <br> Quantity <br>Total Price </h3>
        </mat-grid-tile>
        <mat-grid-tile >
            <button class="btn btn-primary">Checkout</button>
        </mat-grid-tile>
        <mat-grid-tile >
            <h2>Details <hr></h2>
           
        </mat-grid-tile>
    
    </mat-grid-list>
</div>
